body{
  font-family: 'Montserrat', sans-serif;
}
#title{
  background-color: #ff4c68;
  color: #fefefe;


}

h1{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2{
  font-family: 'Montserrat-bold', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

.container-fluid{
  padding: 3% 15% 7%  ;
  padding-bottom:
}

/* navigation bar */
.navbar{

  padding:0 0 4.5rem;
}

.nav-item{
  margin: 0 18px;

}

.nav-link{
  font-family: 'Montserrat-light', sans-serif;
  font-size: 1.2rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  margin: 10px 30px 10px 0;
  font-size: 3.5rem;
}

/* download button */

.download-button{
  margin: 10% 3% 10% 0;
}

/* title image */

.title-image{
  width: 60%;
  transform: rotate(25deg);

  position: absolute;
  right: 28%

}

/* features */

/* fontawesome */

#features{
  padding: 11% 15%;
  color: #8f8f8f;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;



}

.fas-icon{
  color: #ef8172;
  font-size: 5rem;
  margin-bottom: 1.5rem}
.fas-icon:hover{
  color: #ff4c68 ;
}



.features-para-width{

  text-align: center;
  margin: auto;
}


/* Testimonials section*/

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

/* press */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/* pricing */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/* media query */

@media (max-width: 1024px) {
  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}

/* Call to Action */

#cta{
  padding: 5% 20% 5%;
  background-color: #ff4c68;
  text-align: center;
  color: #fefefe;
}

/* Footer */

#footer{
  text-align: center;
  padding: 7% 15%;

}

.social-icon{
  margin: 1rem;
  font-size: 1.5rem;
}
